<section id="main" class="wrapper">
  <div class="container">
		<header class="major special">
      <h3><%= @trip.name%>'s Categories:</h3>
      <p>| <% @categories.each do |cat| %>
        <%= link_to cat.name,  trip_category_path(@trip, cat) %> |
        <% end %>
      </p>
    </header>
  </div>
</section>
