<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
<!-- Banner -->
<section id="banner">
  <br>
  <h1>Mariana Sickler</h1>
  <p>software development</p>
  <ul class="actions">
    <li><a href="https://drive.google.com/file/d/1FK7YNvhg_ogJwxKpfZ3_NZJPfGr8W_N6/view?usp=sharing" class="button special small" target="_blank">Resume</a></li>
    <li><a href="https://www.linkedin.com/in/msckler/" class="button special small" target="_blank">Linkedin</a></li>
  </ul>
</section>
<!-- One -->
<section id="one" class="wrapper style1">
  <div class="container 75%">
    <div class="row box 200%">
        <br>
        <header class="major">
          <h2>About</h2>
          <p>Full Stack Web Developer</p>
          <hr>
        </header>
        <p>
          A quick walkthrough of myself. <br>
          Born and raised in Mexico, first twenty years of my life. <br>
          I'm a web developer. Part self-taught, part immersive online school. <br>
          I've come a long way from where I've come. I'm (working on) going a long way from here on. <br>
          I had my traditional Mexican life, with my familia and my cat. <br>
          I studied to be in HR, but soon realized it wasn't in my heart.<br>
          So what do? Change route. <br>
          Adios papa, going to AmericA. <br>
          I chased a job, and then one more. <br>
          I have a green card in my bag, I can work anywhere I can.<br>
          So why computers? One may ask.<br>
          Because I always got my nose stuck in one, that's what.<br>
          They're simple even when they're not. They're logical and I was called analytical. <br>
          It's all about the details, good thing I'm a perfectionist. <br>
          But do you love it? <br>
          Well, ten hours a day and I'd still say, "Sorry, I'm not done yet".
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Two -->
<section id="two" class="wrapper style2 special">
  <div class="container">
    <header class="major">
      <h2>Portfolio</h2>
      <p>Projects</p>
    </header>
  <div class="row 150%">
    <div class="6u 12u$(xsmall)">
      <div class="image fit captioned">
        <img src="https://i.imgur.com/IfSYH8M.png" alt="bookshelf project">
        <h3><a href="https://github.com/msickler/books" target="_blank">Bookshelf</a></h3>
        <p>React-Redux app with Rails API backend. Your virtual bookshelf. Easy, quick and neat.</p>
      </div>
    </div>
    <div class="6u$ 12u$(xsmall)">
      <div class="image fit captioned">
        <img src="https://i.imgur.com/nbnLrUB.png" alt="plan.me project">
        <h3><a href="https://github.com/msickler/plan-me-ii" target="_blank">Plan.Me</a></h3>
        <p>Rails App with jQuery backend. A community of travelling enthusiasts connecting through their personality and preferences.</p>
      </div>
    </div>
    <div class="6u 12u$(xsmall)">
      <div class="image fit captioned">
        <img src="https://i.imgur.com/1pWIQau.png" alt="japan seeings project">
        <h3><a href="https://github.com/msickler/japan_seeings" target="_blank">Japan Seeings</a></h3>
        <p>Sinatra web app with MVC framework. An anonymous, private community for anyone that had a taste of Japan and fell in love, to share the best spots.</p>
      </div>
    </div>
    <div class="6u$ 12u$(xsmall)">
      <div class="image fit captioned">
        <img src="https://i.imgur.com/nbnLrUB.png" alt="movie finder project">
        <h3><a href="https://github.com/msickler/movie-finder" target="_blank">Movie Finder</a></h3>
        <p>CLI Ruby Gem. Say the genre, the app takes care of the rest and finds you a movie to watch. Gem scrapes Rotten Tomatoe's best movies.</p>
      </div>
    </div>
  </div>

  </div>
</section>

<!-- Four -->
<section id="three" class="wrapper style3 special">
  <div class="container">
  	<header class="major special">
  		<h2>Contact</h2>
  		<p>marsicklr@gmail.com</p>
  	</header>
        		<div class="content">
              <a href="https://www.linkedin.com/in/msckler/" class="fa fa-linkedin" target="_blank"></a>
              <a href="https://github.com/msickler" class="fa fa-github" target="_blank"></a>
              <a href="https://drive.google.com/file/d/1FK7YNvhg_ogJwxKpfZ3_NZJPfGr8W_N6/view?usp=sharing" class="fa fa-file-text" target="_blank"></a>
              <a href="https://www.instagram.com/poison.marie/" class="fa fa-instagram" target="_blank"></a>
              <a href="http://msickler.com/" class="fa fa-rss" target="_blank"></a>
        		</div>

  </div>
</section>
