<section id="main" class="wrapper">
	<div class="container">
  	<header class="major special">
    	<p>Categories</p>
			<br>
			<% @categories.each do |cat| %>
    		<h4>「<%= link_to cat.name, category_path(cat)%>」
				</h4>
				<br>
      <% end %>
  	</header>
  </div>
</section>
