<!DOCTYPE html>
<html>
  <head>
    <title>Mariana S.</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body class="landing">
    <%= render 'home/header' %>
    <%= yield %>

    <!-- Footer -->
    <footer id="footer">
    	<div class="container">
    	   <ul class="copyright">
    			  <li>☕ by Mariana Sickler</li>
    				<li>Design <a href="http://templated.co">Templated</a> & M. Sickler</li>
    				<li>Images <a href="http://unsplash.com">Unsplash</a></li>
    			</ul>
    	</div>
    </footer>

  </body>
</html>
